<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- <bean id="std" class="com.app.pojo.Student">
		<property name="id" value="11" />
		<property name="name" value="ABC" />
		<property name="add" ref="addr" />
	</bean>
	
	<bean id="addr" class="com.app.pojo.Address">
	<property name="city">
	<list>
	<value>Pune</value>
	<value>Nashik</value>
	</list>
	</property> -->
	
	
	<!-- init-method="setup" destroy-method="cleanUp" -->
	<bean id="a1" class="com.app.pojo.Address" autowire="byName">
     <property name="city" value="Pune"></property>
     </bean>
     <bean id="a2" class="com.app.pojo.Address">
     <property name="city" value="Nashik"></property> 
	</bean>
	
	<bean id="std" class="com.app.pojo.Student">
	<property name="id" value="11"></property>
	<property name="name" value="ABC"></property>
	<property name="add">
	<list>
	<ref bean="a1"></ref>
	<ref bean="a2"></ref>
	</list>
	</property>
	</bean>
			
	
	
</beans>